body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

nav{
    background-color: #4a90ea;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
}
.flash.success {
  background-color: #d4edda;
  color: #155724;
}
.flash.danger {
  background-color: #f8d7da;
  color: #721c24;
}
.flash.warning {
  background-color: #fff3cd;
  color: #856404;
}

span{
    margin-right: 15px;
}

.logout-btn{
    background-color: #ff5c5c;
    color: #fff;
    border-radius: 15px;
    padding: 10px 15px;
    text-decoration: none;
}

a:hover{
    background-color: #e14b4b
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form p {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input[type="submit"], button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
}