<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_project.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <div class="container">
        <h2>Add new project</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                <label for="name">{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div>
                <label for="description">{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            <div>
                <label for="deadline">{{ form.deadline.label }}</label>
                {{ form.deadline }}
            </div>
            {% if current_user.role == "admin" %}
            <div>
                <label for="assign_to">{{ form.assign_to.label }}</label>
                {{ form.assign_to }}
            </div>
            {% endif %}
            <div>
                {{ form.submit }}
            </div>
        </form>
        <a href="{{ url_for('dashboard') }}">← Back to Dashboard</a>
    </div>
</body>
</html>